* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2f0438;
    font-family: monospace;
}

main {
    margin: 50px auto;
    max-width: 35%;
    border-radius: 10px;
    
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

#form {
    align-items: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#cep {
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

button {
    background-color: #460353;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    width: 100px;
}

button:hover{
    background-color: #5f0a70;
}

p {
    font-size: 16px;
}

#search {
    background-color: #6a3297;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px rgb(83, 83, 83) ;
}

#show {
    display: none;
    background-color: #6a3297;
    color: #fff;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px rgb(83, 83, 83) ;
}